.Root {
  background: rgba(255, 255, 255, 0.95);
  overflow: auto;
  width: 300px;

  h3 {
    color: #aaa;
    font-weight: 300;
    padding: 40px;
    text-align: center;
  }

  button {
    background: #fff;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    color: $loopListBlue;
    display: block;
    font-weight: 700;
    margin: 0 auto;
    outline: 0;
    padding: 7px 10px;
    text-transform: uppercase;

    &:hover {
      background: $loopListBlue;
      color: #fff;
    }
  }
}
