.Root {
  position: relative;

  &.isActive {
    @media screen and (width <= 500px)  {
      span {
        display: none;
      }
    }
  }

  button {
    @mixin flexCenter;
    border: 0;
    outline: 0;
    background: none;
    color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;

    &:hover {
      background: $loopListBlue;

      span {
        @mixin fadeIn;
        transform: translate(-20px, 10%) scale(1);
      }
    }

    span {
      @mixin fadeOut;
      position: absolute;
      right: 100%;
      top: 0;
      background: rgba(0,0,0,0.7);
      color: #fff;
      border-radius: 3px;
      text-transform: uppercase;
      font-size: 9px;
      font-weight: 700;
      white-space: nowrap;
      padding: 7px 10px;
      transform: translate(20%, 0%) scale(0);
    }

    img {
      width: 18px;
    }
  }
}
