.Root {
  background: rgba(255,255,255, 0.1);
  bottom: 0;
  height: calc(100% - 60px);
  right: 0;
  position: fixed;
  width: auto;
  z-index: 7;
  transform: translateX(0%);
  display: flex;

  &.isActive {
    .Drawer {
      width: 300px;
    }
  }
}

.Drawer {
  height: 100%;
  background: #fff;
  transition: all ease 0.7s;
  width: 0px;
  overflow: auto;
}
