.Root {
  position: relative;

  &.isActive {
    li {
      transform: translateX(0) translateY(0%) scale(1) !important;

      @media screen and (width <= 500px)  {
        transform: translateX(100%) translateY(33px) scale(1) !important;
      }
    }

    button {
      span {
        display: none;
      }
    }
  }

  button {
    @mixin flexCenter;
    border: 0;
    outline: 0;
    background: none;
    color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 2;

    &:hover {
      background: $loopListBlue;

      span {
        @mixin fadeIn;
        transform: translate(-20px, 10%) scale(1);
      }
    }

    img {
      width: 15px;
    }

    span {
      @mixin fadeOut;
      position: absolute;
      right: 100%;
      top: 0;
      background: rgba(0,0,0,0.7);
      color: #fff;
      border-radius: 3px;
      text-transform: uppercase;
      font-size: 9px;
      font-weight: 700;
      white-space: nowrap;
      padding: 7px 10px;
      transform: translate(20%, 0%) scale(0);
    }
  }

  ul {
    position: absolute;
    top: 0px;
    right: 100%;
    padding: 5px;
    z-index: 0;

    li {
      border-radius: 50%;
      margin: 0 0 -10px;
      list-style: none;
      transition: all ease 0.6s;

      @for $i from 1 to 3 {
        &:nth-child($i) {
          transform: translateX(90%) translateY(-resolve(100 * resolve($(i) - 1))%) scale(0);
          transition-delay: resolve(0.1 * $(i))s;
        }
      }

      &.isActive {
        img {
          border: solid 3px #fff;
        }
      }

      &:hover {
        span {
          @mixin fadeIn;
          transform: translate(-20%, 33%) scale(1);
        }
      }

      span {
        @mixin fadeOut;
        position: absolute;
        right: 100%;
        top: 0;
        background: rgba(0,0,0,0.8);
        color: #fff;
        border-radius: 6px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 700;
        padding: 7px 10px;
        transform: translate(20%, 33%) scale(0);
      }

      img {
        width: 40px;
        border: solid 2px $loopListBlue;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}
