.Root {
  @mixin scaleInHide;
  background: #fff;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  height: auto;
  left: $headerHeight;
  padding: 10px 10px;
  position: absolute;
  top: 100%;
  width: 200px;
  z-index: -1;

  @media screen and (width <= 500px)  {
    & {
      width: 100%;
      left: 0;
      position: fixed;
      top: $headerHeight;
    }
  }

  &.isActive {
    @mixin scaleInShow;
  }

  section {
    border-bottom: solid 1px rgba(0,0,0,0.1);
    padding: 10px 0;


    span {
      color: #999;
      font-size: 11px;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      display: block;

      b {
        font-size: 0.8em;
      }
    }
  }

  input {
    background: none !important;
    width: 100%;
  }

  input[type="text"] {
    margin: 10px;
    border: solid 2px #ddd;
    border-radius: 3px;
  }

  input[type="range"]::track {
    background: linear-gradient(to top, #70D6FF, #0F89BB);
    height: 3px;
    border-radius: 1px;
  }

  input[type="range"]::thumb {
    background: #fff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    transform: translateY(-30%);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3);
  }
}

.RadiusEnds {
  display: flex;
  justify-content: space-between;
  padding-top: 3px;

  li {
    list-style: none;
    font-size: 11px;
    color: #aaa;
  }
}

.Halves {
  display: flex;
  padding: 0;
  padding: 10px 0;

  input:first-child {
    margin: 0 5px 0 0;
  }

  input:last-child {
    margin: 0 0 0 5px;
  }

  input {
    color: $loopListBlue;
    font-weight: 700;
    padding: 5px;
    outline: none;

    &:focus {
      border: solid 2px $loopListBlue;
    }
  }

  div {
    display: flex;
    align-items: center;
    justify-content: stretch;

    span {
      text-align: right;
      flex: 1 1 auto;
      color: $loopListBlue;
    }

    &:nth-child(2) {
      span {
        margin: 0 0 0 7px;
      }
    }
  }
}

.SendButton {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $loopListBlue;
  font-weight: 700;
  border: 0;
  outline: 0;
  padding: 10px;
  display: block;
  width: 100%;
  background: none;

  &:disabled {
    color: #ccc;
  }

  &:hover {
    background: #eee;
  }
}

.OpenNow {
  display: flex;

  span {
    white-space: nowrap;
    margin-right: 5px;
  }
}


.Alert {
  padding: 5px 0;
  color: $red;
  font-size: 11px;
  font-weight: 700;
}

.Price {
  div {
    font-size: 1.5em;
    display: flex !important;
    width: 100%;
    justify-content: center;
    flex-direction: row-reverse;
  }

  label {
    margin: 0 6px;

    &:hover {
      color: #D5BB4E !important;
    }
  }
}
