.Root {
  list-style: none;
  position: relative;
  border-bottom: solid 1px #eee;
  z-index: 1;
  background: #fff;
  cursor: pointer;

  &:hover {
    background: #eee;
  }

  h1 {
    color: $loopListBlue;
    padding: 10px;
    margin: 0;
    font-size: 18px;
  }

  p {
    background: $loopListBlue;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 4px 8px;
    font-size: 10px;
    display: inline-block;
    border-radius: 6px;
  }

  .Stars {
    display: inline-block;
    margin-left: 10px;

    label {
      margin-right: 7px;

      &:first-child {
        margin-right: 0;
      }
    }
  }
}
