.Root {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  justify-content: center;
  position: relative;

  .Circle {
    width: $headerHeight;
    height: $headerHeight;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;

    &:after {
      content: '';
      width: 18px;
      height: 18px;
      border: solid 3px #fff;
      border-radius: 50%;
    }
  }

  .MainInput {
    border: 0;
    height: 100%;
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    width: 100%;
    border-radius: 0 !important;
    transition: all ease 0.3s;
    background: rgba(0,0,0, 0.2);

    &:focus {
      outline: none;
      background: rgba(0,0,0, 0.33);
    }

    &::placeholder {
      color: #fff;
      font-size: 14px;
    }
  }
}
