.Root {
  @mixin flexCenter;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #1BAAE4;
  position: relative;
  transition: all ease 0.4s;
  cursor: pointer;

  img {
    display: block;
    height: 22px;
    z-index: 1;
    position: relative;
  }

  &.isActive {
    .Details {
      @mixin fadeUpInShow;
      border-radius: 0;
      transform: translateY(-110%) scale(1);
      z-index: 99;
    }
  }
}

.Details {
  @mixin fadeUpInHide;
  background: #fff;
  position: absolute;
  top: 0;
  transform: translateY(-20%) scale(0);
  padding: 0;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
  width: 300px;

  h1 {
    background: $loopListBlue;
    color: #fff;
    padding: 10px;
    margin: 0;

  }

  h3 {
    text-align: center;
    text-transform: uppercase;
    color: $loopListBlue;
  }
}

$spinnerTranslate: translate(-5px, -5px);
.Spinner {
  animation: spin 5s infinite linear;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background: linear-gradient(to top, #70D6FF, #0F89BB);
  transform: ;
  border-radius: 50%;
  z-index: -1;
}

@keyframes spin {
  from {
    transform: $spinnerTranslate rotate(0deg);
  }
  to {
    transform: $spinnerTranslate rotate(360deg);
  }
}
