.Root {
  @mixin fadeOut;
  @mixin flexCenter;
  width: 100%;
  position: fixed;
  top: 0;
  height: 100%;
  background: rgba(0,0,0, 0.7);
  z-index: 9;
  left: 0;
  text-align: center;

  &.isActive {
    @mixin fadeIn;
  }

  img {
    width: 20px;
    display: block;
    margin: 0 auto;
  }

  h1 {
    color: $loopListBlue;
    text-transform: uppercase;
    display: block;
  }

  h3 {
    color: #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  h5 {
    color: $loopListBlue;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
