.Root {
  position: fixed;
  left: 10px; bottom: 10px;
  background: rgba(0,0,0,0.7);
  padding: 7px;
  border-radius: 4px;
  z-index: 9999;

  button {
    @mixin flexCenter;
    background: #111;
    color: #fff;
    padding: 5px;
    font-size: 18px;
    outline: none;
    border: none;
    margin: 0 0 5px;
    display: block;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background: $loopListBlue;
    }
  }
}
