.Root {
  @mixin flexCenter;
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  height: 60px;
  width: 60px;


  &:hover, &.isActive {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;

    img {
      transform: scale(0.75);
    }

    span {
      opacity: 1;
      visibility: visible;
      transform: translateY(0%);
    }
  }

  img {
    height: 22px;
    transform: scale(1);
    transition: all ease 0.7s;
  }

  span {
    background: rgba(255,255,255,0.96);
    color: $loopListBlue;
    display: block;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: auto;
    white-space: nowrap;
    padding: 7px 10px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    opacity: 0;
    visibility: hidden;
    transform: translateY(33%);
    transition: all ease 0.3s;
    pointer-events: none;
  }
}
